html,
body {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ui {
    position: absolute;
    left: auto;
    top: auto;
}

.win-banner {
    display: inline-block;
    width: 480px;
    height: 40px;

    position: relative;
    margin: 0 auto;
    text-align: center;

    background-color: lightseagreen;
    color: lightyellow;
}

.hints {
    position: absolute;

    width: 560px;
    height: 560px;

    top: -60px;
    left: 0;
}

.h-hints {
    position: relative;
    top: 0;
    left: 0;

    width: 480px;
    height: 60px;

    display: flex;
    justify-content: space-evenly;
}

.v-hints {
    position: absolute;
    top: 60px;
    left: -60px;

    width: 60px;
    height: 480px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.h-hints>*,
.v-hints>* {
    width: 60px;
    height: 60px;
    text-align: center;

    background-color: mediumpurple;
    margin: 0;
}

.grid {
    background-color: red;
    width: 480px;
    height: 480px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    background-color: green;

    display: flex;
    justify-content: space-evenly;
}

.cell {
    background-color: blue;

    width: 60px;
    height: 60px;
}

.floor {
    position: relative;
    top: 0;
    left: 0;
}

.marker {
    position: relative;
    top: -64px;
    left: 0;

    z-index: 1;
}